{% extends "base.html" %}
{% load static %}
{% load currency %}
{% load divide %}
{% load humanize %}

{% block extra_title %}| Fleet{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Your Fleet</h2>
            <hr>
        </div>
    </div>
    <row class="col">
        <div class="row">
            <div class="col-12">
                {% if fleet_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-borderless table-sm">
                            <thead>
                                <tr>
                                    <th>Boat Info</th>
                                    <th></th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                    <th></th>
                                </tr>
                            </thead>
                            {% for item in fleet_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% if item.boat.image %}
                                            <a href="{{ item.boat.image.url }}">
                                                <img class="img-fluid" src="{{ item.boat.image.url }}" alt="{{ item.boat.sku }}">
                                            </a>
                                        {% else %}
                                            <a href="">
                                                <img class="img-fluid" src="{{ MEDIA_URL }}default_no_image.jpg" alt="{{ item.boat.sku }}">
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p><strong>{{ item.boat.name }}</strong></p>
                                        {% if item.boat.brand %}
                                            <p><strong>Brand:</strong> {{ item.boat.brand }}</p>
                                        {% endif %}
                                        {% if item.boat.state_of_assembly %}
                                            <p><strong>State of Assembly:</strong> {{ item.boat.state_of_assembly }}</p> 
                                        {% endif %}
                                        {% if item.boat.power_source %}
                                            <p><strong>Power Source:</strong> {{ item.boat.power_source }}</p>
                                        {% endif %}
                                        {% if item.boat.age_range %}
                                            <p><strong>Age Range:</strong> {{ item.boat.age_range }}+</p>
                                        {% endif %}
                                        {% if item.boat.dimensions %}
                                            <p><strong>Dimensions:</strong> {{ item.boat.dimensions }}</p>
                                        {% endif %}
                                        {% if item.boat.material %}
                                            <p><strong>Materials:</strong> {{ item.boat.material }}</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% divide factor item.boat.currency.factor as converter %}
                                        {% multiply item.boat.price converter as price %}
                                        {% if current_cur in suffix_cur %}
                                            <p>{{ price|floatformat:"2"|intcomma }} {{ symbol }}</p>
                                        {% else %}
                                            <p>{{ symbol }}{{ price|floatformat:"2"|intcomma }}</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <p>x{{ item.quantity }}</p>
                                    </td>
                                    <td>
                                        {% if current_cur in suffix_cur %}
                                            <p>{% multiply price item.quantity %} {{ symbol }}</p>
                                        {% else %}
                                            <p>{{ symbol }}{% multiply price item.quantity %}</p>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button class="btn btn-danger remove-item float-right" id="remove_{{ item.boat.id }}"><small>Remove</small></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
            </div>

            <div class="col-6">
                <a href="{% url 'products' %}" class="btn btn-outline-primary rounded-0 btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Keep Sailing</span>
                </a>
                <a href="{% url 'checkout' %}" class="btn btn-primary rounded-0 btn-lg">
                    <span class="text-uppercase">Secure Checkout</span>
                    <span class="icon">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
            </div>
            <div class="col-6 text-right">
                {% if current_cur in suffix_cur %}
                    <h6><strong>Total Price: {{ total|floatformat:2|intcomma }} {{ symbol }}</strong></h6>
                    <h6>Delivery: {{ shipping|floatformat:2|intcomma }} {{ symbol }}</h6>
                    <h4 class="mt-4"><strong>Grand Total:{{ grand_total|floatformat:2|intcomma }} {{ symbol }}</strong></h4>
                    {% if free_shipping_delta > 0 %}
                        <p class="mb-1 text-danger">
                            You could get free shipping by spending just <strong>{{ free_shipping_delta|floatformat:2|intcomma }} {{ symbol }}</strong> more!
                        </p>
                    {% endif %}
                {% else %}
                    <h6><strong>Total Price: {{ symbol }}{{ total|floatformat:2|intcomma }}</strong></h6>
                    <h6>Delivery: {{ symbol }}{{ shipping|floatformat:2|intcomma }}</h6>
                    <h4 class="mt-4"><strong>Grand Total:{{ symbol }}{{ grand_total|floatformat:2|intcomma }}</strong></h4>
                    {% if free_shipping_delta > 0 %}
                        <p class="mb-1 text-danger">
                            You could get free shipping by spending just <strong>{{ symbol }}{{ free_shipping_delta|floatformat:2|intcomma }}</strong> more!
                        </p>
                    {% endif %}
                {% endif %}
            </div>
            
                    <tr>
                        <td>
                            
                        </td>
                    </tr>
                {% else %}
                    <p>Your fleet is empty</p>
                    <a href="{% url 'products' %}" class="btn btn-primary">
                        Find a Boat to add to your Fleet
                    </a>
                {% endif %}
    </row>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
        // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         }) 
    });
    </script>
{% endblock %}
