html {
    height: 100%;
}

body {
    background: url('/media/katherine-mccormack-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 205px);
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

/* Logo */

#logo img {
    height: 81px;
    width: 81px;
    border-radius: 50%;
}

/* Buttons */

.btn-primary, .btn-primary:active {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: white;
    color: #007bff;
}

.btn-danger:hover {
    background-color: white;
    color: #dc3545;
}

.nav-link {
    color: white;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* fixed top navbar only on medium and up */
@media (min-width: 999px) {
    .header-container {
        padding-top: 205px;
    }

    .bg-lg-white {
        background-color: white!important;
    }
}