<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto bg-white rounded">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link  mx-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mx-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Large Boats
            </a>
            <div class="dropdown-menu border-0 text-center" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">All Large Boats</a>
                <a href="" class="dropdown-item">Motor Yacht</a>
                <a href="" class="dropdown-item">Sport Boat</a>
                <a href="" class="dropdown-item">Catamaran</a>
                <a href="" class="dropdown-item">Pilothouse</a>
                <a href="" class="dropdown-item">Classic</a>
                <a href="" class="dropdown-item">Flybridge</a>
                <a href="" class="dropdown-item">Passenger boat</a>
                <a href="" class="dropdown-item">House Boat</a>
                <a href="" class="dropdown-item">Ketch</a>
                <a href="" class="dropdown-item">Mega Yacht</a>
                <a href="" class="dropdown-item">Motorsailer</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mx-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Boats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Boats</a>
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Views</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item ">By Size</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mx-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Small Boats
            </a>
            <div class="dropdown-menu border-0 text-center" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">All Small Boats</a>
                <a href="" class="dropdown-item">Center console boat</a>
                <a href="" class="dropdown-item">Fishing Boat</a>
                <a href="" class="dropdown-item">Pontoon Boat</a>
                <a href="" class="dropdown-item">Runabout</a>
                <a href="" class="dropdown-item">Deck Boat</a>
                <a href="" class="dropdown-item">Cabin Boat</a>
                <a href="" class="dropdown-item">Working Boat</a>
                <a href="" class="dropdown-item">Bowrider</a>
                <a href="" class="dropdown-item">Trawler</a>
                <a href="" class="dropdown-item">Launch</a>
                <a href="" class="dropdown-item">Water ski</a>
                <a href="" class="dropdown-item">Hardtop</a>
                <a href="" class="dropdown-item">Offshore Boat</a>
                <a href="" class="dropdown-item">Wakeboard/Wakesurf</a>
                <a href="" class="dropdown-item">RIB</a>
            </div>
        </li>
    </ul>
</div>