<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto bg-white rounded">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link  mx-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mx-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Boats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Boats</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=views&direction=desc" class="dropdown-item ">By Views</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=length&direction=desc" class="dropdown-item ">By Size</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mx-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
            </a>
            <div class="dropdown-menu border-0 text-center" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=speedboat" class="dropdown-item">Speedboat</a>
                <a href="{% url 'products' %}?category=submarine" class="dropdown-item">Submarine</a>
                <a href="{% url 'products' %}?category=hovercraft" class="dropdown-item">Hovercraft</a>
                <a href="{% url 'products' %}?category=jetski" class="dropdown-item">Jetski</a>
                <a href="{% url 'products' %}?category=warship" class="dropdown-item">Warship</a>
                <a href="{% url 'products' %}?category=animal" class="dropdown-item">Animal</a>
                <a href="{% url 'products' %}?category=land" class="dropdown-item">Land</a>
            </div>
        </li>
        
    </ul>
</div>