<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto bg-white rounded">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link  mx-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mx-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ships
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Cargo</a>
                <a href="" class="dropdown-item ">Passenger</a>
                <a href="" class="dropdown-item ">Fishing</a>
                <a href="" class="dropdown-item ">Traditional</a>
                <a href="" class="dropdown-item">All Ships</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mx-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Vessels</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mx-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Boats
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Row Boat</a>
                <a href="" class="dropdown-item ">Sail Boat</a>
                <a href="" class="dropdown-item ">Fishing Boat</a>
                <a href="" class="dropdown-item ">Paddle Boat</a>
                <a href="" class="dropdown-item ">Hovercraft</a>
                <a href="" class="dropdown-item ">Cannal Boat</a>
                <a href="" class="dropdown-item">All Boats</a>
            </div>
        </li>
    </ul>
</div>