{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 col-md-6 my-auto">
            <div class="mb-2 p-2 bg-primary text-white w-75">
                <h1 id="index-slogan">404 not found! Are you lost at sea?</h1>
            </div>
            <div>
                <a href="{% url 'home' %}" class="flex-shrink-1 btn btn-primary rounded-0 w-75">
                    <h2 id="index-box">Return home to saftey</h2>
                </a>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{% include 'includes/main-footer.html' %}
{% endblock %}