{% load humanize %}
{% if current_cur in suffix_cur %}
    <h6><strong>Total Price: {{ total|floatformat:2|intcomma }} {{ symbol }}</strong></h6>
    <h6>Delivery: {{ shipping|floatformat:2|intcomma }} {{ symbol }}</h6>
    {% if discount %}
        <h6 class="text-success">-{{ discount|floatformat:2|intcomma }} {{ symbol }}</h6>
    {% endif %}
    <h4 class="mt-4"><strong>Grand Total:{{ grand_total|floatformat:2|intcomma }} {{ symbol }}</strong></h4>
    {% if free_shipping_delta > 0 %}
        <p class="mb-1 text-danger">
            You could get free shipping by spending just <strong>{{ free_shipping_delta|floatformat:2|intcomma }} {{ symbol }}</strong> more!
        </p>
    {% endif %}
{% else %}
    <h6><strong>Total Price: {{ symbol }}{{ total|floatformat:2|intcomma }}</strong></h6>
    <h6>Delivery: {{ symbol }}{{ shipping|floatformat:2|intcomma }}</h6>
    {% if discount %}
        <h6 class="text-success">-{{ symbol }}{{ discount|floatformat:2|intcomma }}</h6>
    {% endif %}
    <h4 class="mt-4"><strong>Grand Total:{{ symbol }}{{ grand_total|floatformat:2|intcomma }}</strong></h4>
    {% if free_shipping_delta > 0 %}
        <p class="mb-1 text-danger">
            You could get free shipping by spending just <strong>{{ symbol }}{{ free_shipping_delta|floatformat:2|intcomma }}</strong> more!
        </p>
    {% endif %}
{% endif %}