{% extends "base.html" %}
{% load static %}
{% load currency %}
{% load divide %}
{% load humanize %}

{% block extra_title %}| Boats{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container vh-100">
        <div class="row">
            <div class="col text-center mt-3">
                <h1>RC Boats</h1>
                {% for c in current_category %}
                    <h2>{{ c.friendly_name }}</h2>
                {% endfor %}
                <hr class="w-50 mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-md-12 offset-1 offset-md-0">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="w-50">
                            <select id="sort-selector" aria-label="Sort" class="custom-select custom-select-sm rounded-0 border border-{% if current_sort != 'None_None' %}info{% else %}dark{% endif %}">
                                <option value="reset" {% if current_sort == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sort == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sort == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="views_asc" {% if current_sort == 'views_asc' %}selected{% endif %}>Views (low to high)</option>
                                <option value="views_desc" {% if current_sort == 'views_desc' %}selected{% endif %}>Views (high to low)</option>
                                <option value="length_asc" {% if current_sort == 'length_asc' %}selected{% endif %}>Size (low to high)</option>
                                <option value="length_desc" {% if current_sort == 'length_desc' %}selected{% endif %}>Size (high to low)</option>
                                <option value="category_asc" {% if current_sort == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sort == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_category or current_sort != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ nums|length }} Pages{% if search_terms %} found for <strong>"{{ search_terms }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for boat in boats %}
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="card border-0 h-100">
                                <div class="card-body pb-0 d-flex flex-column position-relative">
                                    {% if boat.image %}
                                        <img class="card-img-top flex-shrink-1 rounded" style="object-fit: cover;" src="{{ MEDIA_URL }}{{ boat.image }}" alt="{{ boat.name }}">
                                    {% else %}
                                        <img class="card-img-top flex-shrink-1 rounded" style="object-fit: cover;" src="{{ MEDIA_URL }}default_no_image.jpg" alt="{{ boat.name }}">
                                    {% endif %}
                                    <a href="{% url 'product_detail' boat.id %}" class="stretched-link" aria-label="Product detail page for {{ boat.sku }}"></a>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">
                                                {% divide factor boat.currency.factor as converter %}
                                                {% multiply boat.price converter as price %}
                                                {% if current_cur in suffix_cur %}
                                                    {{ price|floatformat:"2"|intcomma }} {{ symbol }}
                                                {% else %}
                                                    {{ symbol }}{{ price|floatformat:"2"|intcomma }}
                                                {% endif %}
                                            </p>
                                            <p class="lead mb-0 text-left">{{ boat.name }}</p>
                                            {% if boat.category.all %}
                                            <p class="small mt-1 mb-0">
                                                {% for category in boat.category.all %}
                                                    <a class="text-muted" href="{% url 'products' %}?category={{ category.name }}">
                                                        <i class="fas fa-tag mr-1"></i>{{ category.friendly_name }}
                                                    </a>
                                                {% endfor %}
                                            </p>
                                            {% endif %}
                                                <small class="text-muted"><i class="fas fa-star mr-1"></i>Views: {{ boat.views }}</small>
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' boat.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' boat.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if boats.has_previous %}
                            <li class="page-item">
                                <a class="page-link"  href="?page=1{{ page_url }}">
                                    <span aria-hidden="true">&laquo;</span> First
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"  href="?page={{ boats.previous_page_number }}{{ page_url }}">Previous</a>
                            </li>
                        {% endif %}
                        {% for i in nums %}
                            
                            <li class="page-item {% if forloop.counter == boats.number %}disabled{% endif %}{% if forloop.counter not in page_range %}d-none{% endif %}">
                                <a class="page-link" href="?page={{ forloop.counter }}{{ page_url }}">{{ forloop.counter }}</a>
                            </li>

                        {% endfor %}
                        {% if boats.has_next %}
                            <li class="page-item">
                                <a class="page-link"  href="?page={{ boats.next_page_number }}{{ page_url }}">Next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"  href="?page={{ boats.paginator.num_pages }}{{ page_url }}">
                                    Last <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            
        </div>
    </div>
    <div id="top-page-btn" class="btn btn-primary col-12 border-primary rounded-0">
        <i class="fas fa-arrow-up mx-auto my-auto py-2"></i>
    </div>
{% endblock %}

{% block footer %}
{% include 'includes/main-footer.html' %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('#top-page-btn').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0]
                var direction = selectedVal.split("_")[1]

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}